* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  background-color: #202020;
}

nav {
  
  padding: 10px;
  display: flex;
  gap: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #066FCF;
}

a {
  color: white;
  text-decoration: none;
  
  font: 500 16px/150% 'Roboto', sans-serif;
}

.container-img {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.img-1 {
  width: 50%;
  border: 1px solid #202020;
  border-radius: 50px;
}

.section-about {
  display: block;
}

.section-about > h2 {
  font: 700 48px/150% 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
}

.section-about > p {
  font: 400 24px/150% 'Roboto', sans-serif;
  text-align: justify;
  padding: 0 0 0 25px;
}

.container-skills {
  background-color: #303030;
  display: flex;
  justify-content: center;
  padding: 25px;
  flex-direction: column;
}

.container-skills > h2 {
  font: 700 30px/150% 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
}

.div-skills {
  border: 1px solid #202020; 
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 690px;
  margin: 0 400px;
  padding: 10px 32px;
}

table {
  border-collapse: collapse;
}

table thead {
  font-size: 24px;
  line-height: 16px;
}

thead th, tbody td {
  padding: 8px;
}

tbody td {
  font: 500 20px/130% 'Roboto', sans-serif;
  border-top: 1px solid #202020; 
  font-size: 18px;
  line-height: 20px;
}

.container-resumo {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.section-resumo {
  display: block;
}

.section-resumo > h2 {
  font: 700 48px/150% 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
}

.section-resumo > p {
  font: 400 22px/150% 'Roboto', sans-serif;
  text-align: justify;
  padding: 0 25px 0 0;
}

.img-2 {
  width: 45%;
  border: 1px solid #202020;
  border-radius: 50px;
}

.container-projetos {
  display: flex;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #303030;
}

.section-projetos > h2 {
  font: 700 48px/150% 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
}

.div-tecnologias {
  display: flex; 
  gap: 15px; 
  text-align: center;
  align-items: center;
  justify-content: space-between ;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 32px;
}

.div-stacks {
  display: flex; 
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 500px;
  padding: 10px 0 ;
}

.frontend, .backend { 
  font: 400 24px/150% 'Roboto', sans-serif;
  display: flex;
  grid-template-columns: 200px 200px 200px;
  padding: 5px 20px;
  gap: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  flex-basis: calc(50% - 20px); /* 50% width with a small margin */
  margin: 10px;
  max-width: calc(50% - 20px); /* Limitando a largura máxima para garantir que não ultrapasse 50% da largura do contêiner */
}

.img-card {
  border-radius: 5px 5px 0 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}